body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(151, 32, 32);
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.search-container {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b3b300;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.picture-card {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    text-align: center;
}

.picture-card img {
    max-width: 100%;
    height: auto;
}

.picture-card a {
    color: #0074d9;
    text-decoration: none;
    font-weight: bold;
}

.picture-card a:hover {
    text-decoration: underline;
}